PINATA_JWT=your_pinata_jwt_token_here
PINATA_GATEWAY=https://gateway.pinata.cloud/ipfs/


MAIN_DATA_HASH=

# World Mini App
APP_ID=app_xxxxxxxxxxxxxxxxxxxxxxxxx
DEV_PORTAL_API_KEY=your_dev_portal_api_key_here

# Node environment
NODE_ENV=development

IPFS_API_HOST=localhost
IPFS_API_PORT=5001
IPFS_API_PROTOCOL=http
